<div class="container">
  <h3>Mark Sheet</h3>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Roll No:</th>
        <td>{{ studentDetails?.rollNo }}</td>
      </tr>
      <tr>
        <th>Name:</th>
        <td>{{ studentDetails?.name }}</td>
      </tr>
      <tr>
        <th>Mathematics 1</th>
        <td>{{ studentDetails?.marks1 }}</td>
      </tr>
      <tr>
        <th>Mathematics 2</th>
        <td>{{ studentDetails?.marks2 }}</td>
      </tr>
      <tr>
        <th>Mathematics 3</th>
        <td>{{ studentDetails?.marks3 }}</td>
      </tr>
      <tr>
        <th>Percentage :</th>
        <td>{{ calculatePercentage(studentDetails?.marks1, studentDetails?.marks2, studentDetails?.marks3) }}%</td>
      </tr>
      <tr>
        <th>Grade:</th>
        <td>{{ calculateGrade(studentDetails?.marks1, studentDetails?.marks2, studentDetails?.marks3) }}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
</div>
